
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



/* Partie Header */

header {
    max-width: 1400px;

    width: 93%;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


header img {
    width: 61.09px;
    height: 19px;
}

nav a { 
    color: #000000;
    text-decoration: none;

    width: 11.25%;
    padding: 46px 24.5px 0px 24.5px;
}


nav a:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}








/* Partie Recherche et Filtres */



    h1 {
    font-size: 22px;
}


.recherche {
    max-width: 1400px;
    
    width: 93%;
    margin-top: 67.32px;
    margin-right: auto;
    margin-left: auto;
}





.fonction_rechercher{
    display: flex;
}

.bouton_geo{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

    padding: 15px;
}

#site-search{
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2;

    padding: 15px;
}

input::placeholder {
    color: #000000
}


.bouton_rechercher{
    color: #F2F2F2;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;

    padding: 14px;
}

.bouton_rechercher span{
    font-size: 18px;
}
.bouton_rechercher i{
    display: none;
}





.global_filtres {
    font-size: 18px;
    font-weight: bold;

    margin-top: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.presentation_filtres{
    margin-left: 40px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.filtres_1, .filtres_2{
    display: flex;
    gap: 25px;
}


.global_filtres i{
    color: #0065FC;

    margin: 8px;
}

.carré_filtres {
    border: 2px #d9d9d9 solid;
    border-radius: 20px;

    padding-right: 16px;
}

.carré_filtres:hover{
    background-color: #deebff;
}




.partie_information{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.partie_information i{
    font-size: 13px;
    color: #0065FC;
    text-align: center;
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
    
    width: 13px;
    height: 13px;
    padding: 5px;
    margin-left: 0px;
}

.texte_information {
    margin-left: 10px;
}







/* Gestionnaire de séparation des deux blocs Hébergements et Populaires */



.split {
    max-width: 1400px;

    width: 93%;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.7%;
}







/* Partie Hébergements */


.hebergements{
    background-color: #F2F2F2;
    border-radius: 20px;
    
    width: 71%;
    min-width: 622px;
    margin-top: 39px;
}

h2{
    font-size: 22px;
    font-weight: 700;

    margin-left: 4.54%;
    margin-top: 42px;
    margin-bottom: 40px;
}


.presentation_hebergements{
    margin-left: 4.54%;

    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    gap: 3.52%;
}



.presentation_hebergements a{
    color: #000000;
    text-decoration: none;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    
    width: 29%;
    min-width: 170px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.presentation_hebergements img{
    object-fit: cover;

    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;

    height: 124px;
}

.presentation_hebergements article {
    margin-left: 6.5%;
}

h5 {
    font-weight: bold;

    margin: 0px;
}


.prix{
    font-size: 14px;
    
    margin: 0%;
    padding-top: 5px;
}

.note{
    color: #0065FC;

    margin-top: 5px;
    margin-bottom: 7px;

    display: flex;
    align-items: center;
}

.grise{
    color: #F2F2F2;;
}







.afficher_plus{
    font-size: 18px;
    font-weight: 700;

    margin: 10px 0px 46px 4.54%;
}







/* Partie Populaires */



.populaires {
    background-color: #F2F2F2;;
    border-radius: 20px;

    width: 31%;
    margin-top: 39px;
}


.populaires_titre{
    margin: 20px 10% 26px 8.8%;

    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

h3{
    font-size: 22px;
    font-weight: 700;
}


.populaires_titre i{
    color: #0065FC;

    padding-left: 10px;
}

.presentation_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.presentation_populaires a{
    color: #000000;
    text-decoration: none;
    background-color: white;
    border: 4px #F2F2F2 solid;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

    width: 81.9%;
    margin-bottom: 33px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.presentation_populaires img{
    object-fit: cover;

    border-radius: 20px 0px 0px 20px;
    
    width: 41.9%;
    height: 144px;
}


.presentation_populaires article{
    margin: 9px 0px 0px 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








/* Partie Activités */


.activités{
    max-width: 1400px;

    width: 93%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    
}

h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}


.presentation_activités{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.9%;
}

.presentation_activités img{
    object-fit: cover;

    border-radius: 20px 20px 0px 0px;

    height: 383px;
}


.presentation_activités a{
    color: #000000;
    text-decoration: none;

    width: 20.9%;
    border-radius: 20px;
    box-shadow:0px 0px 30px #d9d9d9;

    display: flex;
    flex-direction: column;
}

.presentation_activités p{
    font-weight: 700;

   margin: 20px;
}







/* Partie Footer */


footer{
    max-width: 1400px;

    background-color: #F2F2F2;

    width: 93%;
    margin-top: 61px;
    margin-right: auto;
    margin-left: auto;
    
    
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.bloc_footer{
    padding: 45px 0px 50px 2.5%;
}


.titre_footer{
    font-size: 18px;
    font-weight: 700;
}









/*Media Queries Tablette*/


@media all and (max-width: 992px) {




    .global_filtres{
    margin-bottom: 25px;

    display: flex;
    flex-wrap: nowrap;
    align-items: first baseline;
}

.filtres_1, .filtres_2{
    margin-bottom: -40px;
}





.split{
    flex-wrap: wrap;
}





.hebergements {
    width: 100%;
    min-width: 0px;
}

.presentation_hebergements{
    display: flex;
    justify-content: space-between;
    margin-right: 4.5%;

}

.presentation_hebergements a{
    min-width: 190px;
}







.populaires{
    width: 100%;
    min-width: 0px;
}

.populaires_titre{
    margin: 15px 39px 15px 40px
}

.presentation_populaires {
   margin-left: 4.5%;
    margin-right: 4.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.6%;
}

.presentation_populaires img{
    height: 100%;
}

.presentation_populaires a {
    width: 29%;
    height: 160px;
}






.presentation_activités a{
    height: auto;
}

.presentation_activités img {
    height: 211px;
}

.presentation_activités p{ 
    height: 56px;
    margin: 10%;
}





footer {
    gap: 10%;
}

}



@media all and (max-width: 768px) {
    
    

    body{
        margin: 0%;
    }


    header {
        width: 100%;
        margin: 0%;

        display: block;
    }

    header div {
        text-align: center;

        margin-top: 21px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav a {
        text-align: center;
        border-bottom: 3px #F2F2F2 solid;

        width: 50%;
        padding: 48px 0px 23px 0px;
    }

    nav a:hover{
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }









    .recherche{
        width: 89%;
    }



    .fonction_rechercher{
        width: 100%;
        margin: auto;
        padding-top: 36px;

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .bouton_geo{
        width: 10%;
        min-width: 16px;
        padding: 10px;
    }
    
    #site-search{
        width: 70%;
        min-width: 75px;
    }

    .bouton_rechercher span{
        display: none;
    }

    .bouton_rechercher i{
        display: inline;
    }
    




    .global_filtres {
        margin-top: 34px;
        
        flex-direction: column;
    }
    
    .presentation_filtres{
        margin: auto;
        width: 100%;
        gap: 0%;
    }

    .filtres_1{
        margin: 0%;
    }
    
    .filtres_1, .filtres_2{
        width: 100%;
        
        justify-content: flex-start;
        gap: 2%;
    }

    .filtres_2{
        margin: 0%;

        display: flex;
        align-items: center;
    }

   .carré_filtres {
        font-size: 14px;
        border-radius: 25px;

        width: 50%;
        padding: 2px;
        margin: 5px;
        
        display: flex;
        align-items: first baseline;
    }

    .carré_filtres span{
        font-size: 14px;
    }
    
    
    .logo_information{
        align-items: first baseline;
    }













    .split{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

        flex-wrap: wrap-reverse;
    }






    
    .hebergements {
        background-color: #FFFFFF;
        border-radius: 0px;

        width: 100%;
        min-width: 0px;
    }

    .presentation_hebergements {
        margin-right: 4.5%;
    }


    .presentation_hebergements a {
        width: 100%;
    }




    
    .populaires{
        border-radius: 0px;

        width: 100%;
        margin-right: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .presentation_populaires{
        width: 100%;
        flex-direction: column;
    }


    .populaires_titre{
        width: 89%;
    }
    
    .presentation_populaires a {
        width: 89%;
    }

    .presentation_populaires img{
        height: 144px;
    }

    .afficher_plus{
        display: none;
    }





    .activités {
        width: 89%;
        margin-bottom: 100px;
        margin-top: 105px;
    }
    
    .presentation_activités {
        display: flex;
        flex-direction: column;
    }

    .presentation_activités a {
        width: 100%;
        height: 190px;
        margin-top: 24px;
    }
    
    .presentation_activités img {
        height: 134px
    }
    
    .presentation_activités p{ 
        height: 56px;
       margin: 15px;
    }



    
    footer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 20px;

        display: flex;
        flex-direction: column;
        }

    .bloc_footer{
        margin-left: 3.5%;
        padding-top: 0px;
    }

    .titre_footer{
        padding-top: 10px;
    }

    }