* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin : 8px;
}


nav a { 
    text-decoration: none;
    margin-right: 77px;
    padding-top: 28px;
}

nav img {
    width: 61.09px;
    height: 19px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}












h1 {
    font-size: 22px;
}

.recherche {
    margin-top: 50px;
}

.filtres {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

.filtres i{
    color: #0065FC;
}

.carré_filtres {
    border: 2px #d9d9d9 solid;
    margin-left: 40px;
    padding-right: 15px;
    border-radius: 20px;
}

.carré_filtres:hover{
    background-color: #deebff;
}

.logo_information i{
    color: #0065FC;
    font-size: 13px;
    border: 1px #d9d9d9 solid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    text-align: center;
    width: 13px;
    height: 13px;
    padding: 5px;
    margin-left: 0px;
}







.split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

}




.hebergements{
    background-color: #d9d9d9;
    width: 62%;
    border-radius: 20px;
    padding: 42px 0px 46px 0px;
}

h2{
    font-size: 22px;
    font-weight:700;
    padding-bottom: 30px;
}


.presentation_hebergements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
}


.vignette_hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 20%;
    background-color: white;
    border-radius: 20px;
}


.nom_hebergement {
    font-weight: bold;
}

.presentation_hebergements img{
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.presentation_hebergements p {
    padding-left: 10px;
}

.note{
    color: #0065FC;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.grise{
    color: #d9d9d9;
}


h3{
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
}

.prix{
    font-size: 14px;
}








.populaires {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 42px 0px 46px 0px;
    width: 29%;
    min-width: 310px;
}

.populaires_titres{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}


.populaires_titres i{
    color: #0065FC;
}




.presentation_populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 33px;
}


.vignette_populaires{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: auto;
}


.presentation_populaires img{
    height: 144px;
    width: 137px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}