
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



/* Partie Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    width: 93%;
}

header img {
    width: 61.09px;
    height: 19px;
}

nav a { 
    color: #000000;
    text-decoration: none;
    width: 11.25%;
    padding: 46px 24.5px 0px 24.5px;
}


nav a:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}








/* Partie Recherche et Filtres */



h1 {
    font-size: 22px;
}

.recherche {
    margin-top: 67.32px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    width: 93%;
}

.fonction_rechercher{
    display: flex;
}

.bouton_geo{
    padding: 15px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#site-search{
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

input::placeholder {
    color: #000000
}

.bouton_rechercher{
    padding: 14px;
    color: #F2F2F2;
    font-size: 18px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.bouton_rechercher_2{
    padding: 14px;
    color: #F2F2F2;
    font-size: 18px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    visibility: hidden;
}

.global_filtres {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.presentation_filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
    gap: 25px;
}

.filtres_1, .filtres_2{
    display: flex;
    gap: 25px;
}


.global_filtres i{
    margin: 8px;
    color: #0065FC;
}

.carré_filtres {
    border: 2px #d9d9d9 solid;
    padding-right: 15px;
    border-radius: 20px;
}

.carré_filtres:hover{
    background-color: #deebff;
}

.logo_information i{
    color: #0065FC;
    font-size: 13px;
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
    text-align: center;
    width: 13px;
    height: 13px;
    padding: 5px;
    margin-left: 0px;
}

.logo_information{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.texte_information {
    margin-left: 10px;
}




/* Gestionnaire de séparation des deux blocs Hébergements et Populaires */



.split {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.7%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}



/* Partie Hébergements */


.hebergements{
    background-color: #d9d9d9;
    width: 71%;
    min-width: 622px;
    border-radius: 20px;
    margin-top: 39px;
}

h2{
    font-size: 22px;
    font-weight: 700;
    margin-left: 4.54%;
    margin-top: 42px;
    margin-bottom: 40px;
}


.presentation_hebergements{
    margin-left: 4.54%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: first baseline;
    gap: 3.52%;
}

.presentation_hebergements a{
    display: block;
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 29%;
    min-width: 170px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    border-radius: 20px;
}

.presentation_hebergements img{
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
}

.presentation_hebergements article {
    margin-left: 6.5%;
}

.nom_hebergement {
    font-weight: bold;
    margin: 0px;
}

.prix{
    font-size: 14px;
    margin: 0%;
    padding-top: 5px;
}

.note{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 7px;
}

.grise{
    color: #d9d9d9;
}


.afficher_plus{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px 46px 4.54%;
}



/* Partie Populaires */



.populaires {
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 31%;
    margin-top: 39px;
}

.populaires_titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10% 26px 8.8%;
}

h3{
    font-size: 22px;
    font-weight: 700;
}


.populaires_titre i{
    color: #0065FC;
    margin-left: 10px;
}

.presentation_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.presentation_populaires a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    width: 81.9%;
    border: 4px #F2F2F2 solid;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 33px;
    text-decoration: none;
    color: #000000;
}


.presentation_populaires img{
    height: 144px;
    width: 41.9%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.presentation_populaires article{
    margin: 9px 0px 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Partie Activités */


.activités{
    margin-top: 60px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    width: 93%;
}

h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18.47px;
}


.presentation_activités{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.9%;
}

.presentation_activités img{
    height: 383px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.presentation_activités a{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 20.9%;
    border-radius: 20px;
    box-shadow:0px 0px 30px #d9d9d9;
    text-decoration: none;
    color: #000000;
}

.presentation_activités p{
    font-weight: 700;
    margin-left: 19px;
    margin-top: 20px;
}







/* Partie Footer */


footer{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    width: 93%;
    gap: 10%;
    display: flex;
    justify-content: flex-start;
    background-color: #d9d9d9;
    margin-top: 61px;
}

.bloc_footer{
    padding-left: 2.5%;
    padding-top: 45px;
    padding-bottom: 50px;
}


.titre_footer{
    font-size: 18px;
    font-weight: 700;
}









/*Media Queries Tablette*/


@media all and (max-width: 992px) and (min-width: 768px) {

.global_filtres{
    display: flex;
    flex-wrap: nowrap;
    align-items: first baseline;
    margin-bottom: 25px;
}

.filtres_1, .filtres_2{
    margin-bottom: -40px;
}


.split{
    flex-wrap: wrap;
}

.hebergements {
    width: 100%;
    min-width: 0px;
}

.presentation_hebergements{
    display: flex;
    justify-content: space-around;
    margin-right: 4.5%;

}

.presentation_hebergements a{
    min-width: 190px;
}

.populaires{
    width: 100%;
    min-width: 0px;
}

.populaires_titre{
    margin: 15px 39px 15px 40px
}

.presentation_populaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.6%;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.presentation_populaires img{
    height: 100%;
}

.presentation_populaires a {
    width: 29%;
    height: 160px;
}

.presentation_activités a{
    height: auto;
}

.presentation_activités img {
    height: 211px;
}

.presentation_activités p{ 
    height: 56px;
    margin: 10%;
}

footer {
    gap: 10%;
}

}



@media all and (max-width: 768px) {
    
    

    body{
        margin: 0%;
    }


    header {
        display: block;
        width: 100%;
        margin: 0%;
    }

    header div {
        text-align: center;
        margin-top: 21px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav a {
        width: 50%;
        text-align: center;
        padding: 48px 0px 23px 0px;
        border-bottom: 3px #F2F2F2 solid;
    }

    nav a:hover{
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }









    .recherche{
        margin: auto;
    }


    .fonction_rechercher{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 36px;
        width: 100%;
        margin: auto;
    }

    .bouton_geo{
        width: 10%;
        min-width: 16px;
        padding: 10px;
    }
    
    #site-search{
        width: 70%;
        min-width: 75px;
    }
    
    
    .recherche_boutons{
        display: flex;
    }

    .bouton_rechercher{
        display: none;
    }

    .bouton_rechercher_2{
        visibility: visible;
        min-width: 19px;
    }
    
    .global_filtres {
        margin-top: 34px;

    }
    
    .presentation_filtres{
        margin: auto;
        width: 100%;
    }
    
    .filtres_1, .filtres_2{
        width: 100%;
        gap: 4%;
        justify-content: space-around;
    }

    .filtres_2{
        margin-top: -35px;
        display: flex;
        align-items: center;
    }

   

    .carré_filtres {
        width: 50%;
        padding: 2px;
        border-radius: 25px;
        font-size: 14px;
        display: flex;
        align-items: first baseline;
    }

    .carré_filtres span{
        font-size: 14px;
    }
    
    
    .logo_information{
        align-items: first baseline;
    }













    .split{
        flex-wrap: wrap-reverse;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }






    
    .hebergements {
        width: 100%;
        border-radius: 0px;
        background-color: #FFFFFF;
        min-width: 0px;
    }

    .presentation_hebergements {
        margin-right: 4.5%;
    }


    .presentation_hebergements a {
        width: 100%;
    }




    
    .populaires{
        width: 100%;
        border-radius: 0px;
        margin-right: 0px;
    }
    
    .populaires_titre{
        margin: 15px 39px 15px 40px
    }
    
    .presentation_populaires a {
        width: 89%;
        height: 144px;
    }

    .afficher_plus{
        visibility: hidden;
    }





    .activités {
        margin-bottom: 100px;
    }
    
    .presentation_activités {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .presentation_activités a {
        width: 89%;
        height: 190px;
        margin-top: 24px;
        
    }
    
    .presentation_activités img {
        height: 134px
    }
    
    .presentation_activités p{ 
        height: 56px;
        padding-bottom: 40px;
    }



    
    footer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        padding-top: 0px;
    }

    .titre_footer{
        padding-top: 10px;
    }

    }